<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- <title>Login</title> -->
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <!-- <base href="/"/> -->
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>
</head>

<body>
<div class="container">
    <div class = "row">


        <div class="col-9">
            <h4>These are sumlogs:</h4>

            <ul>
                <li th:each="sumlog:${sumlogs}" th:text="${sumlog.lastName}"> Text </li>
                <li th:each="sumlog:${sumlogs}" th:text="${sumlog.firstName}"> Text </li>
            </ul>
        </div>

        <div class="col-9">
            <h4>These are the search tweets:</h4>


        </div>
    </div>
</div>
</body>
</html>